In [4]:
import re
import pandas as pd
from pyhere import here

In [13]:
cd ../data/raw/

/home/asosed/Projects/Movie-Crawler/data/raw

In [15]:
# Load the data
df = pd.read_csv('top250_imdb.csv')

In [16]:
# Order by rating
df.sort_values('rating', ascending=False, inplace=True)
df.reset_index(inplace=True, drop=True)

In [17]:
df['release_date'].sample(20)

149        26 January 2006 (USA)
125       16 November 2018 (USA)
116      31 August 1931 (Sweden)
65        19 December 1997 (USA)
113       15 December 2000 (USA)
89        26 February 2021 (USA)
225        10 October 1980 (USA)
18        19 November 1956 (USA)
105    17 October 1985 (Hungary)
123           15 June 2005 (USA)
76            13 June 1980 (USA)
60        26 November 1963 (USA)
57      25 December 2009 (India)
152           31 July 2015 (USA)
172           13 July 1990 (USA)
231       23 February 1979 (USA)
219        17 January 1940 (USA)
248       25 February 1994 (USA)
207         22 August 1986 (USA)
2            10 April 1957 (USA)
Name: release_date, dtype: object

In [18]:
# Remove country on release date
df['release_date'] = df['release_date'] \
                     .apply(lambda s: re.sub(' \([\w]+ ?[\w]+\)$', '', s))

In [19]:
# Parse release date
df['release_date'] = pd.to_datetime(df['release_date'],
                                    format='%d %B %Y',
                                    infer_datetime_format=True)

In [20]:
df.drop('year_release', axis=1, inplace=True)

In [21]:
# Completing the link to poster movie
df['poster'] = df['poster'].apply(lambda l: 'https://www.imdb.com' + l)

In [29]:
cd ../interim/

/home/asosed/Projects/Movie-Crawler/data/interim

In [30]:
df.to_csv('top250_imdb.csv')